APP_ENVIRONMENT=development
APP_LOG_LEVEL=INFO
APP_MAX_REQUEST_BODY_BYTES=16384
APP_OPENAI_MODEL=gpt-5-mini
APP_AI_TIMEOUT_SECONDS=15
APP_AI_MAX_INPUT_BYTES=8192
APP_AI_MAX_OUTPUT_TOKENS=800
APP_POLICY_CONFIDENCE_THRESHOLD=0.85
APP_APPROVAL_DATABASE_PATH=approvals.sqlite3
APP_APPROVAL_TTL_SECONDS=1800
APP_APPROVER_ID=development-approver
APP_GHL_API_VERSION=v3
APP_GHL_TIMEOUT_SECONDS=10
